
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
img{
  height: 500px;
  box-shadow: 10px 10px;
  /*margin-left: 40px;*/
  /*padding: 10px;*/
}

img:hover {

  /*padding: 10px;*/
}

.img-container {
  margin: 0 auto;
  padding-top: 100px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.img-container img {
  vertical-align: top;
  height: 350px;
  margin: 30px;
}

p{
  font-size: 20px;
  color: green;
  margin-left: 40px;
  margin-right: 40px;
}

h1{
  font-size: 35px;
  color: pink;
  margin-left: 30px;
}

h2{
  font-size: 25px;
  color: red;
  margin-left: 30px;
}

header{
  background-color: yellow;
  margin-left: 20px;
  margin-right: 20px;
}

.pink{
  color: blue;
  font-style: italic;
}

.grow img {
  transition: all .2s ease-in-out;
}
.grow img:hover {
  transform: scale(1.1);
}
