
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
img{
  width: 500px;
}

p{
  font-size: 20px;
  color: green;
}

h1{
  font-size: 35px;
  color: pink;
}

h2{
  font-size: 25px;
  color: red;
}
